.about_image {
  height: 59px;
}

.about_description {
  background: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 56px;
  padding-bottom: 92px;
  display: flex;
  justify-content: space-between;
}

.about_text {
  width: 413px;
}
.about_text_title {
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 127.273% */
  letter-spacing: -1.76px;
  text-transform: uppercase;
}

.about_text_descritpion {
  color: #030718;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-top: 40px;
}

.about_form {
  box-sizing: border-box;
  width: 631px;
  height: 244px;
  border-radius: 4px;
  background: #6a54ff;
  padding: 32px 64px;
  margin-top: 36px;
}

.about_form_title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
  letter-spacing: -1.12px;
  text-align: center;
  margin-bottom: 32px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 500px;
  height: 60px;
  border-radius: 4px;
  background: #4a3bb3;
}

.input {
  padding: 10px;
  font-size: 20px 16px;
  border: 0;
  flex: 1;
  background: #4a3bb3;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
  text-transform: uppercase;
  /* opacity: 0.34; */
}

.input:focus {
  outline: none;
  box-shadow: none;
}

.button {
  color: #030718;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #57e1ff;
  background: #57e1ff;
  box-shadow: 0px 0px 4px 0px #57e1ff;
  cursor: pointer;
  margin-right: 2px;
}
